body {
    font-family: LatoLight;
}
.title {
    width:50%;
    text-align: center;
    color: green;
    margin:100px auto 0 auto;
    font-size: 50px;
    background-color: antiquewhite;
}
.footer {
    width:50%;
    color: green;
    margin:0 auto 0 auto;
    font-size: 15px;
    background-color: antiquewhite;
}
.footer input {
    display: inline-block;
    width: 14px;
}

.footer div {
    display: inline-block;
}
#delete-done {
    width: auto;
}
#showAll {
    width: auto;
    background-color: green;
}
#showOnlyDone{
    width: auto;
}
#showOnlyNotDone{
    width: auto;
}
#nameTodo {
    width: 75%;
    height: 50px;
    background-color: ghostwhite;
}
.add {
    width: 18%;
    height: 49px;
    font-size: 20px;
}

#addNewTodo {
    width:50%;
    margin:0 auto;
    background-color: antiquewhite;
}
#list div {
    width:50%;
    margin:0 auto;
    height: 50px;
    background-color: antiquewhite;
    color: green;
    font-size: 30px;
    border:1px solid green;

}
#list .undertext {
    width:80%;
}
.remove {
    width: 30px;
    height: 30px;
    background-image: url(../images/remove.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}

.undertext[readonly] {
    background-color: antiquewhite;
    border: 0;
    color: green;
}

#paginPanel {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
#paginPanel a {
    text-decoration: none;
    padding: 5px;
    background-color: antiquewhite;
}
@media (max-width: 925px) {
    .title {
        width: 90%
    }
    #addNewTodo {
        width: 90%
    }
    .footer {
        width: 90%
    }
    #list div {
        width: 90%
    }
}
@media (max-width: 520px) {
    .title {
        width: 99%
    }
    #addNewTodo {
        width: 99%
    }
    .footer {
        width: 99%
    }
    #list div {
        width: 99%
    }
    #nameTodo {
        width: 70%
    }
}